// Лоудуш в начале для того чтобы каждый раз при сохранении файликов компелировался именно общий файл стилей а не каждый отдельный файлик компилятор котороый натсоен в галпе знает об этом
// Colors
$primary: #025fff;
$success: #2a9924;
$danger: #ea2e41;
$warning: #ffc907;
$dark: #343a40;
